.Game-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff9c4;
}

.Game-affiche {
	width: 15em;
}

.Game-card {

}