.Profil-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	text-align: left;
	background-color: #fff9c4;
}

.Profil-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}