.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222;
  height: 100vh;
  padding: 20px;
  color: white;
}

.Start-logo {
  animation: Start-logo-spin infinite 20s linear;
  height: 80px;
}

.Start-button {
  text-decoration: none;
}

.Start-title {
  font-size: 2em;
}

@keyframes Start-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}